*.pyc
.htpasswd
log/*
geonature_atlas.egg-info/
atlas/debug.py
robots.txt
.htaccess
venv/*
venv3/*
.flaskenv

atlas/configuration/config.py
atlas/configuration/settings.ini

atlas/static/territoire.json
atlas/static/images/ancien
atlas/static/node_modules
atlas/static/territoire.json
atlas/static/images/ancien
atlas/static/custom/territoire.json
atlas/static/custom/glossaire.json
atlas/static/custom/images/picto*.png

static/custom/territoire.json
static/custom/glossaire.json
atlas/static/custom/images/logo-structure.png
atlas/static/custom/images/accueil-intro.jpg
static/custom/images/favicon.ico
atlas/static/custom/images/logo_patrimonial.png

data/ref/emprise_territoire.*
data/ref/communes.dbf
data/ref/communes.prj
data/ref/communes.shp
data/ref/communes.shx

data/ref/territoire.dbf
data/ref/territoire.prj
data/ref/territoire.shp
data/ref/territoire.shx

data/ref/L93*
data/ref/mailles*

# Pycharm
.idea/

.vscode

.coverage
.tox
*.swp
*.swo

